@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: "JetBrains Mono", monospace; */
}

code {
  font-family: "JetBrains Mono", monospace;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }

  .blinkLeft {
    animation: blinkLeft 1s infinite;
  }

  .blinkRight {
    animation: blinkRight 1s infinite;
  }
}

@keyframes blinkLeft {
  0% {
    border-left-color: rgba(256, 256, 256, 0);
  }
  50% {
    border-left-color: rgba(256, 256, 256, 0.5);
  }
  100% {
    border-left-color: rgba(256, 256, 256, 0);
  }
}

@keyframes blinkRight {
  0% {
    border-right-color: rgba(256, 256, 256, 0);
  }
  50% {
    border-right-color: rgba(256, 256, 256, 0.5);
  }
  100% {
    border-right-color: rgba(256, 256, 256, 0);
  }
}
