@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
  background-color: #1b1d36;
  /* font-family: "JetBrains Mono", monospace; */
  font-family: "Roboto Mono", monospace;

  /* 80s after dark */
  --bg-color: #1b1d36;
  --main-color: #fca6d1;
  --caret-color: #99d6ea;
  --sub-color: #99d6ea;
  --text-color: #fca6d1;
  --error-color: #fffb85;
}

.containerWithoutScrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.containerWithoutScrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  width: 0;
  background: transparent;
}

.bgColor {
  background-color: var(--bg-color);
}

.mainColor {
  color: var(--main-color);
}

.caretColor {
  color: var(--caret-color);
}

.subColor {
  color: var(--sub-color);
}

.textColor {
  color: var(--text-color);
}

.errorColor {
  color: var(--error-color);
}

code {
  font-family: "JetBrains Mono", monospace;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }

  .blinkLeft {
    animation: blinkLeft 1s infinite;
  }

  .blinkRight {
    animation: blinkRight 1s infinite;
  }
}

@keyframes blinkLeft {
  0% {
    border-left-color: rgba(241, 250, 140, 0);
  }
  50% {
    border-left-color: var(--caret-color);
  }
  100% {
    border-left-color: rgba(241, 250, 140, 0);
  }
}

@keyframes blinkRight {
  0% {
    border-right-color: rgba(241, 250, 140, 0);
  }
  50% {
    border-right-color: var(--caret-color);
  }
  100% {
    border-right-color: rgba(241, 250, 140, 0);
  }
}
